In [2]:
import pandas as pd
import numpy as np
from numpy.random import randint
import time

mycolumns = ['A', 'B']
df = pd.DataFrame(columns=mycolumns)
rows = [[1,2],[3,4],[5,6]]
for row in rows:
    df.loc[len(df)] = row

print(df)

   A  B
0  1  2
1  3  4
2  5  6

In [3]:
df = pd.DataFrame(columns=['lib', 'qty1', 'qty2'])
for i in range(5):
    df.loc[i] = ['name' + str(i)] + list(randint(10, size=2))

df

     lib qty1 qty2
0  name0    8    7
1  name1    0    3
2  name2    8    6
3  name3    7    3
4  name4    6    6

In [4]:
# we know we're gonna have 5 rows of data
numberOfRows = 5
# create dataframe
df = pd.DataFrame(index=np.arange(0, numberOfRows), columns=('lib', 'qty1', 'qty2') )

# now fill it up row by row
for x in np.arange(0, numberOfRows):
    #loc or iloc both work here since the index is natural numbers
    df.loc[x] = [np.random.randint(-1,1) for n in range(3)]
df

  lib qty1 qty2
0  -1    0   -1
1   0    0   -1
2   0   -1    0
3  -1   -1   -1
4  -1   -1    0

In [5]:
#del df1, df2, df3
numOfRows = 1000
startTime = time.perf_counter()
df1 = pd.DataFrame(np.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows-4):
    df1 = df1.append( dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E']), ignore_index=True)
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df1.shape)

startTime = time.perf_counter()
df2 = pd.DataFrame(np.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df2.loc[i]  = np.random.randint(100, size=(1,5))[0]
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df2.shape)

startTime = time.perf_counter()
row_list = []
for i in range (0,5):
    row_list.append(dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E']))
for i in range( 1,numOfRows-4):
    dict1 = dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E'])
    row_list.append(dict1)

df3 = pd.DataFrame(row_list, columns=['A','B','C','D','E'])
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df3.shape)

Elapsed time:  1.908 seconds for 1000 rows
(1000, 5)
Elapsed time:  2.342 seconds for 1000 rows
(1000, 5)
Elapsed time:  0.038 seconds for 1000 rows
(1000, 5)

In [6]:
rows = []
columns = ['i','double','square']

for i in range(6):
    row = [i, i*2, i*i]
    rows.append(row)

df = pd.DataFrame(rows, columns=columns)
print(df)

   i  double  square
0  0       0       0
1  1       2       1
2  2       4       4
3  3       6       9
4  4       8      16
5  5      10      25

In [11]:
rows = []
columns = ['id_espe','Especialidad','Lunes','Martes','Miercoles','Jueves','Viernes']

i = 10
for i in range(10):
    row = [1,'Oftalmologia', i+30,i+30,i+30,i+30,i+30]
    rows.append(row)

df = pd.DataFrame(rows, columns=columns)
print(df)

   id_espe  Especialidad  Lunes  Martes  Miercoles  Jueves  Viernes
0        1  Oftalmologia     30      30         30      30       30
1        1  Oftalmologia     31      31         31      31       31
2        1  Oftalmologia     32      32         32      32       32
3        1  Oftalmologia     33      33         33      33       33
4        1  Oftalmologia     34      34         34      34       34
5        1  Oftalmologia     35      35         35      35       35
6        1  Oftalmologia     36      36         36      36       36
7        1  Oftalmologia     37      37         37      37       37
8        1  Oftalmologia     38      38         38      38       38
9        1  Oftalmologia     39      39         39      39       39

In [14]:
#Para agregar
#df.loc["two"] = [4,5,6]

In [18]:
def add_row(df2, row):
    colnames = list(df2.columns)
    ncol = len(colnames)
    assert ncol == len(row), "Length of row must be the same as width of DataFrame: %s" % row
    return df2.append(pd.DataFrame([row], columns=colnames))

print(df2)

      A   B   C   D   E
0    93  57  53  71  19
1    79  49  16  74  41
2    33  62  15  65  13
3    66  55  29  95   1
4    64  84   5  86  82
..   ..  ..  ..  ..  ..
995  17  27  67  67  88
996  47  88  66  95  20
997  24   2  85  77  88
998  78   2  22  65  45
999   5  59   9  80  97

[1000 rows x 5 columns]

In [20]:
def add_row(self, row):
    self.loc[len(self.index)] = row
pd.DataFrame.add_row = add_row

<function add_row at 0x00000162739D53A0>